#!/bin/bash

# used for docker image base name, like "tsaikd"/ubuntu, ex: tsaikd
export DOCKER_BASE="tsaikd"

# reset language
export LANG="en_US.UTF-8"

# apt-proxy, ex: http://apt.tsaikd.org:9999/
export APT_PROXY=""

# apt-site, ex: http://tw.archive.ubuntu.com/ubuntu/
export APT_SITE="http://tw.archive.ubuntu.com/ubuntu/"

# root password, used in dev mode
export ROOT_PASSWD="CHANGE_IT"

# tomcat manager name
export TOMCAT_ADMIN_NAME="admin"

# tomcat manager password
export TOMCAT_ADMIN_PASSWORD="${ROOT_PASSWD}"

# solr home, ex: /data/solr
export SOLR_HOME="/data/solr"

# solr options, ex: -Xmx2000m -XX:MaxPermSize=2000m
export SOLR_JAVA_OPTS="-Xmx2000m -XX:MaxPermSize=2000m"

# mysql root password
export MYSQL_ROOT_PASSWD="${ROOT_PASSWD}"

# phpvirtualbox virtualbox run user
export PHPVIRTUALBOX_RUN_USER="vbox"

# phpvirtualbox virtualbox run user password
export PHPVIRTUALBOX_RUN_PASS="${ROOT_PASSWD}"

# phpvirtualbox virtualbox link to vboxwebsrv url
export PHPVIRTUALBOX_VBOXWEBSRV_URL="http://127.0.0.1:18083/"

